__pycache__/fibonacci2.cpython-36.pyc
__pycache__/plural6.cpython-36.pyc
__pycache__/to_roman.cpython-36.pyc
out.log
feed.xml
sweep_poly.png
chirp_hyperbolic.png
chirp_linear.png
chirp_logarithmic.png
chirp_quadratic.png
chirp_quadratic_v0false.png
plot.png
DSP/__pycache__/plot_mfreqz_impz.cpython-36.pyc
.cache/www.diveintopython3.net,examples,feed.xml,0b5239deedd8794a2cf334d94e914bf5
Diveintopython3/__pycache__/http_test.cpython-36-PYTEST.pyc
