__pycache__/fibonacci2.cpython-36.pyc
__pycache__/plural6.cpython-36.pyc
__pycache__/to_roman.cpython-36.pyc
out.log
feed.xml
sweep_poly.png
chirp_hyperbolic.png
chirp_linear.png
chirp_logarithmic.png
chirp_quadratic.png
chirp_quadratic_v0false.png
plot.png
DSP/__pycache__/plot_mfreqz_impz.cpython-36.pyc
.cache/www.diveintopython3.net,examples,feed.xml,0b5239deedd8794a2cf334d94e914bf5
Diveintopython3/__pycache__/http_test.cpython-36-PYTEST.pyc
python-cookbook-master/src/12/simple_parallel_programming/logs/20121230.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121217.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121218.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121219.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121220.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121221.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121222.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121223.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121224.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121225.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121226.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121227.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121228.log.gz
python-cookbook-master/src/12/simple_parallel_programming/logs/20121229.log.gz
python-cookbook-master/src/4/creating_data_processing_pipelines/www/foo/access-log-0208.gz
python-cookbook-master/src/4/creating_data_processing_pipelines/www/bar/access-log
python-cookbook-master/src/4/creating_data_processing_pipelines/www/bar/access-log-0108.bz2
python-cookbook-master/src/4/creating_data_processing_pipelines/www/bar/access-log-0208.bz2
python-cookbook-master/src/4/creating_data_processing_pipelines/www/foo/access-log
python-cookbook-master/src/4/creating_data_processing_pipelines/www/foo/access-log-0108.gz
